@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
  background-image: url(header.png);
  -webkit-background-size: cover;
  background-size: cover; 
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-y: 648.28px;  
  font-weight: 500;
  font-size: 15px;
}

a {
  width: 4.97px;
  height: 13.72px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 25px 248px;
}

.logo {
  cursor: pointer;
  width: 76px;
  height: 30px;
}

.nav-area {
  list-style: none;
}

.nav-area li {
  display: inline-block; 
}

.nav-area li a {
  transition: 0.1s;
  color: blue; 
}

.nav-area li a:hover {
  color: #d22938;
}

.wrapper {
  padding: 359px 260px 435px 260px;
}

.upper {
  width: 920px;
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 25px; 
  line-height: 60px;
  line-height: 83%;
  align-items: top;
  vertical-align: top;
  letter-spacing: 2px;
}

.lower {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  vertical-align: top;
}

.connect {
  height: 24px;
  width: 117px;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.connect h3 {
  font-family: "Poppins", sans-serif;
  font-style: medium;
  font-size: 16px; 
  line-height: 24px;
  line-height: 100%;
  align-items: after;
  vertical-align: top;
  color: #1024db;  
}
